body {
    background-image: url('../img/cubuffs.jpg');
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-style: italic;
    font-size: 50px;
}

.espn {
    position: absolute;
    padding: 20px;
}

.win {
    background-color: rgba(255, 255, 255, 0.354);
    height: 400px;
    width: 400px;

    position: absolute;
    bottom: 50px;
    right: 50px;

    text-align: center;

    padding: 20px;
}