body {
    background-image: url('../img/cubuffs.jpg');
}

.espn {
    position: absolute;
    padding: 20px;
}

.win {
    background-color: white;
    height: 200px;
    width: 900px;

    position: absolute;
    bottom: 50px;
}