/* 

COLORS:
Blue Gray - #3B4752
Gold - #FFC63E
White - #FFFFFF

*/

body {
    background-color: #3b4752e7;
}

h1 {
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    color: #ffffff;
}

h2 {
    font-family: linotype-didot, serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 4em;
    color: #FFC63E;
}

.logo1 {
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    color: #ffffff;
    display: inline-block;
}

.logo2 {
    font-family: linotype-didot, serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 3em;
    color: #FFC63E;
    display: inline-block;
    padding-left: 0.3em;
}

.tickets {
    position: absolute;
    right: 0%;
    justify-self: center;
    margin: auto;
    background-color: #FFC63E;
    border: none;
    color: #3B4752;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 16px;
}

.nav {
    display: flex;
    align-items: center;

    width: 100%;
    height: 5em;
    margin: 0;
    
    background-color: #3B4752;
    position: sticky;
}

.intro {
    text-align: center;
    margin: 3em;
}